streamlit
torch==2.2.1
transformers==4.41.2
tokenizers==0.19.1
sentence-transformers
--only-binary faiss-cpu faiss-cpu==1.7.4
langchain==0.1.14
langchain-community==0.0.30
langchain-core>=0.1.37,<0.2.0
huggingface_hub>=0.23.0
numpy<2.0.0
pydantic<2.0
accelerate>=0.28.0
huggingface_hub[hf_xet]
requests
